html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  background: #000;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;

    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    &:hover {
      opacity: .5;
    }
  }


  header {
    margin-top: 10%;
    #logo {
      display: block;
      width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      margin-top: 5%;
      text-align: center;
    }
  }
  main {
    #videoContainer {
      width: 100%;
      margin-top: 10%;
      iframe {
        width: 100%;
      }
    }
    #contact {
      font-size: 1.8rem;
      line-height: 2;
      text-align: center;
      h2 {
        text-transform: uppercase;
      }
      ul {
        li {
          -webkit-transition: all 500ms ease-in-out;
          -moz-transition: all 500ms ease-in-out;
          -ms-transition: all 500ms ease-in-out;
          -o-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
          &:hover {
            opacity: .8;
            cursor: pointer;
          }
        }
      }
      #social {
        padding: 0;
        li {
          display: inline-block;
          margin: 0 1%;
        }
      }
    }
  }
  footer {
    text-align: center;
    font-size: 0.8rem;
    opacity: .5;
    margin-bottom: 5%;
  }
}

